.container {
  width: 34%;
  height: 92%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  /* flex-wrap: wrap; */
  flex-direction: column;
}


.gallery-display {
  width: 100%;
  height: 12%;

}

.carousel {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.slide {
  border: black solid 1px;
  width: 75px;
  height: 75px;
  /* display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center; */
}

.slider {
  width: 450px;
  height: 80px;
}

.gallery-item-main {
  width: 100%;
  height: 81%;
  padding-bottom: 23px;
}

.gallery-item {
  height: 65px;
  width: 65px;
  padding-top: 5px;
  padding-left: 4px;
}

/* .gallery-item-container {
  margin: auto;
} */

.btn {
  border: red solid 1px;
  width: 10px;
  height: 10px;
}